@{
    ViewBag.Title = "About";
}

<style>
 .container{
     height:500px;
 }
 .child1{
width:50%;
float:left;
background:#0094ff;
 }
 .child2 {
        width: 50%;
        float:right;
        background:#808080;
    }
</style>

<div class="container embed-responsive">
 <div class="child1">
     <p>natheer</p>
 </div>
 <div class="child2">
     <p>natheer22</p>
 </div>
</div>

<p>Use this area to provide additional information.</p>
