
@{
    ViewBag.Title = "Display";

}

<h2>Display</h2>
@foreach(var item in Model)
{ 
<div class="continer">
    <div class="quition ">
        <strong> السوال      ::</strong><br><br>
        <h3>  نضام المبيعات 'convennt System' ؟</h3><br>
       
    </div>
    </div>
}